<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ editando ? 'Editar Nota' : 'Agregar Nota' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="titulo" placeholder="Título de la nota"></ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea [(ngModel)]="contenido" placeholder="Escribe tu nota..."></ion-textarea>
  </ion-item>

  <ion-button expand="full" color="success" (click)="guardarNota()">
    {{ editando ? 'Actualizar' : 'Guardar' }}
  </ion-button>
</ion-content>
