/* Fondo general en modo claro */
ion-content {
  --background: #0f64b9;
  
}
.listas {
  margin-bottom: 80px;
}

.nota-item h2 {
  font-weight: 600;
}

.fab-blanco {
  --background: #ffffff;
  --color: #222;
  margin-bottom: 10px;
}

/* Canvas */
.canvas-container {
  position: fixed;
  bottom: 80px;
  left: 10px;
  right: 10px;
  top: 80px;
  background: white;
  z-index: 1000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

canvas {
  flex: 1;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  touch-action: none;
  margin-bottom: 10px;
}
