<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mis Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list class="listas">
    <ion-item *ngFor="let nota of notas" class="nota-item" (click)="editarNota(nota)">
      <ion-label>
        <h2>{{ nota.titulo }}</h2>
        <p>{{ nota.contenido }}</p>
        <small *ngIf="nota.favorito" class="favorito-text">⭐ Favorito</small>
      </ion-label>

      <ion-buttons class="nota-buttons" slot="end">
        <ion-button fill="clear" color="warning" (click)="toggleFavorito(nota, $event)">
          <ion-icon [name]="nota.favorito ? 'star' : 'star-outline'"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="eliminarNota(nota, $event)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item *ngIf="notas.length === 0">
      <ion-label class="no-notas">No hay notas todavía.</ion-label>
    </ion-item>
  </ion-list>

  <!-- Botones flotantes -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <!-- Botón de dibujar -->
    <ion-fab-button class="fab-blanco" (click)="abrirCanvas()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>

    <!-- Botón + para nueva nota -->
    <ion-fab-button (click)="nuevaNota()" color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Canvas para dibujar -->
  <div class="canvas-container" *ngIf="canvasAbierto">
    <canvas #canvas></canvas>
    <ion-button expand="block" (click)="guardarDibujo()">Guardar Dibujo</ion-button>
    <ion-button expand="block" color="medium" (click)="cerrarCanvas()">Cerrar</ion-button>
  </div>

</ion-content>
